<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="CLRPatcher.Test.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <CLRPatcher.Test.Properties.Settings>
            <setting name="PatcherGUID" serializeAs="String">
                <value>{F704F0E6-82C4-4BC4-9ED7-A9E14670BDD8}</value>
            </setting>
            <setting name="SampleRelativePath" serializeAs="String">
                <value>..\..\..\TestSamples\bin\</value>
            </setting>
        </CLRPatcher.Test.Properties.Settings>
    </userSettings>
</configuration>